body{
  position: relative;
  
}
/* Navbar HeaderTop Section Start  */
.headerTop{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  
  
}
.headerLeft{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

}
.headerLeft li{
  margin-left: 20px;
}
.headerRight{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.headerRight li{
  margin-left: 7px;
  float: right;
}
/* Navbar HeaderTop Section End  */

/* Navbar Section Start  */
.logo{
    float: left;
    margin-top: auto;
    margin-left: 4px;
    width: 60px;
    height: auto;
    transition: 0.3s ease;
  }
  .pharmacyName{
    color: lightgrey;
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 8px;
}
.collapse a:hover{
  transform: rotate(6deg);
  transition: all 0.3s ease-out;
}
.hero{
  position: relative;
  margin: 0 auto;
  width: 100%;
  
}
.hero img{
  max-height: 35rem;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Navbar Section End  */

/* animated text over an image Section Start */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color:limegreen;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid darkslategrey;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color:lightskyblue;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
/* animated text over an image section End  */

 
  
  
/* About Us Start */
 
.aboutUs{
  background-color: lightseagreen;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 20px;
  margin-bottom: 2px;
}
.AboutUsImage{
  border-radius: 3px;
  border: lightslategrey solid 1px;
}
.AboutUsHeading{
  text-align: center;
  margin-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:whitesmoke;
}
.aboutus_Text{
  color: whitesmoke;
}
 
 /* About Us  section End  */

 /* Services section Start  */
 .page-section i{
   color: blueviolet;
 }


 /* Services section End  */
 /* Team section Start */

 p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.section-team {
	font-family: "Poppins", sans-serif;
  padding: 40px 0;
  background-color:lightseagreen;
}

.section-team .header-section {
	margin-bottom: 30px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 400;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 30px;
    color: whitesmoke;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: whitesmoke;
  border-radius: 5px;
 
}

.section-team .single-person:hover {
	background: linear-gradient(to right, lightgrey, lightskyblue);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed lightslategray;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 20px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}
 /* Team section End  */




 

 /* Footer  section Start  */
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
    
  }
  
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  /* Footer  section End  */
  
  