/* navTop Start */
.navTop{
  background-color: lightgray;
  
}
.headerLeft{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  margin: 0;
}
.headerRight{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0 8px 0;
  margin: 0;
}
.headerLeft li{
  margin-left: 15px;
}
.headerRight li{
  margin-left: 10px;
}

/*navtop Ends*/